.backBox {
  margin-left: 5%;
  display: flex;
}

.backIconSignUp {
  height: auto;
  width: 175%;
  padding-top: 50%;
}

.signUpTitle {
  font-size: 100%;
  padding-left: 5%;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 10%;
}

.inputForm {
  padding-bottom: 5%;
}

label {
  margin-right: 3%;
}

input {
  border: none;
  border-bottom: 1px solid black;
  background: none;
}

.signUpback {
  background: linear-gradient(white, rgb(186, 212, 206));
  height: 100vh;
}

.signUpBtn {
  border: none;
  color: white;
  padding: 5% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(0, 207, 169);
  border-radius: 5px;
  width: fit-content;
  font-weight: bolder;
  font-size: 100%;
}

.LogoHome {
  height: auto;
  width: 350px;
  margin: 50px;
}

.inputLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputFormLogin {
  margin-bottom: 15%;
  width: 50px;
}

.navLogo {
  width: 100vw;
}

.navBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navItem {
  padding-left: 5%;
}

.productBg {
  background: linear-gradient(white, rgb(0, 207, 169));
}

.productBg100 {
  background: linear-gradient(white, rgb(0, 207, 169));
  height: 115vh;
}

.productContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3%;
  width: 100%;
  margin: auto;
}

.productBox {
  border: 1px solid black;
  position: relative;
  width: 40%;
  height: 40%;
  margin: 2%;
  background: white;
  box-shadow: 5px 2px 2px black;
}

.productItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.imgItem {
  position: absolute;
  left: 40%;
  top: 30%;
}

.logoItem {
  height: auto;
  width: 250%;
}

.subProductItem {
  padding-left: 7%;
}

.editbtn {
  border: 1px solid green;
  background: green;
  color: white;
  border-radius: 2%;
  padding: 2%;
  text-align: center;
}

.editContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.editItem {
  padding: 2%;
  align-items: center;
}
